/**
 * @name Fluent Icons
 * @author stickfab#0985
 * @version 1.8.10
 * @description An icon pack that replaces most icons with Microsoft's Fluent Design Icons.
 * @source https://github.com/stickfab/pc-fluenticons
*/

@import url("https://stickfab.github.io/pc-fluenticons/FluentIcons.css");